<p id="notice"><%= notice %></p>

<p>
  <strong>Nameprofessor:</strong>
  <%= @professor.nameProfessor %>
</p>

<p>
  <strong>School:</strong>
  <%= @professor.school_id %>
</p>

<%= link_to 'Edit', edit_professor_path(@professor) %> |
<%= link_to 'Back', professors_path %>
