<p id="notice"><%= notice %></p>

<h1>Requisitions</h1>

<table>
  <thead>
    <tr>
      <th>Reasonreq</th>
      <th>Responsible</th>
      <th>Equipment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @requisitions.each do |requisition| %>
      <tr>
        <td><%= requisition.reasonReq %></td>
        <td><%= requisition.responsible_id %></td>
        <td><%= requisition.equipment_id %></td>
        <td><%= link_to 'Show', requisition %></td>
        <td><%= link_to 'Edit', edit_requisition_path(requisition) %></td>
        <td><%= link_to 'Destroy', requisition, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Requisition', new_requisition_path %>
