<p id="notice"><%= notice %></p>

<p>
  <strong>Reasonreq:</strong>
  <%= @requisition.reasonReq %>
</p>

<p>
  <strong>Responsible:</strong>
  <%= @requisition.responsible_id %>
</p>

<%= link_to 'Edit', edit_requisition_path(@requisition) %> |
<%= link_to 'Back', requisitions_path %>
