<p id="notice"><%= notice %></p>

<h1>Responsibles</h1>

<table>
  <thead>
    <tr>
      <th>Cpfresp</th>
      <th>Addressresp</th>
      <th>Nameresp</th>
      <th>Income</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @responsibles.each do |responsible| %>
      <tr>
        <td><%= responsible.cpfResp %></td>
        <td><%= responsible.addressResp %></td>
        <td><%= responsible.nameResp %></td>
        <td><%= responsible.income %></td>
        <td><%= link_to 'Show', responsible %></td>
        <td><%= link_to 'Edit', edit_responsible_path(responsible) %></td>
        <td><%= link_to 'Destroy', responsible, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Responsible', new_responsible_path %>
