<p id="notice"><%= notice %></p>

<h1>Equip Types</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @equip_types.each do |equip_type| %>
      <tr>
        <td><%= equip_type.description %></td>
        <td><%= link_to 'Show', equip_type %></td>
        <td><%= link_to 'Edit', edit_equip_type_path(equip_type) %></td>
        <td><%= link_to 'Destroy', equip_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Equip Type', new_equip_type_path %>
